@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #7969D7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

h4{
  color: #ffffffb1;
  padding: 4px;
  font-size: 0.8rem;
}

.container{
  display: flex;
  justify-content: space-between;
}

.TodoWrapper {
  background-image: linear-gradient(to bottom right, #525296, rgb(16, 16, 21));
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #7969D7;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #7969D7;
  color: rgb(224, 224, 224);
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #b3acdc;
  color: rgb(12, 5, 62);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #726a88;
  text-decoration: line-through;
}